<header class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-4 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
 
        <h5 class="my-0 mr-md-auto font-weight-normal">Transaction Soft</h5>
        <nav class="my-2 my-md-0 mr-md-3 text-uppercase fs-4 bg-white">
            <a class="p-2 text-dark text-decoration-none" href="#">Merchants</a>
            <a class="p-2 text-dark text-decoration-none" href="#">Transactions</a>
        </nav>
        <div class="d-flex align-items-center">
            <a class="btn btn-outline-secondary me-3" href="#">Sign up</a>
            <a class="btn btn-outline-secondary me-3" href="#">Login</a>
        </div>
</header>
